<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

    <hr>
        <h1><%= title %></h1>
    <hr>

    <main id="contenedor-get">
        <div id="productos-container">
            <ul id="productos-lista">
 
                <% products.forEach(prod => {  %>
 
                    <li class="li-listados productos-listados">
                        <img src=" <%= prod.imagen_producto %> " alt=" <%= prod.nombre_producto %> " class="img-listados">
                        <p>Id: <%= prod.id_producto %> / Nombre: <%= prod.nombre_producto %> / <strong>Precio: <%= prod.precio_producto %> </strong></p>
                    </li> 
    
                <% }) %>
            </ul>
        </div>
    </main>

<%- include("partials/footer.ejs") %>